@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
}

.grid {
    width: 1440px;
}

header {
    background-color: #f5f5f5 0%;
    height: 70px;

    display: flex;
    align-items: center;
    
}

.alinhamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alinhamento img {
    margin: 0;
}

body {
    height: 3722px;
    background: linear-gradient(180deg, #000303 55.7%, #946643 117.14%);
}

.nav {
    width: 421px;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;

    text-decoration: none;
}

#banner {
    height: 1000px;

    background-color: #000303;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(assets/img/Vector.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.p1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 40px;

    color: #946643;

    margin-bottom: 29px;
}

.p2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 86px;

    color: #F7B993;

    margin-bottom: 29px;
}

.p3 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: #F5F5F5;
}

.p4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: #C18C54;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-1, .fundo-2, .menu {
    display: none;
}

#sobre-mim {
    margin-top: 285px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 96px;

    color: #f5f5f5;

    text-align: center;
}

.mim {
    color: #F7B993;
}

.sobre-p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 23px;

    color: #F7B993;

    margin-top: 44px;
}

.sobre-p1, .sobre-p2, .sobre-p3 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: #f5f5f5;
}

.sobre-p1 {
    margin-top: 54px;
}

.sobre-p2, .sobre-p3 {
    margin-top: 22px;
}

.link {
    width: 140px;
    display: flex;
}

.links {
    margin-top: 40px;
}

.botao {
    display: flex;
    justify-content: center;

    margin-top: 41px;
}

.curriculum {
    width: 219px;
    height: 48px;

    outline: 0;
    border: none;

    background: linear-gradient(90deg, #F7B993 0%, #DFA57F 26.56%, #C7916C 52.6%, #B17E5B 77.08%, #946643 100%);
    border-radius: 70px;   

    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 16px;

    color: #f5f5f5;
}

.habilidades {
    margin-top: 133px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;

    color: #f5f5f5;

    text-align: center;
}

.sobre-1 {
    display: none;
}

@media (max-width: 600px) {
    .grid, .alinhar {
        width: 320px;
    }

    .nav, .foto-2 {
        display: none;
    }

    .foto-1, .fundo-2, .menu {
        display: block;
    }

    #banner {
        height: 665px;
        flex-direction: column;

        background-size: 100%;
    }

    .p1 {
        font-size: 29px;
    }

    .p2 {
        font-size: 39px;
    }

    .p3, .p4 {
        font-size: 15px;
    }

    #sobre-mim {
        display: flex;
        flex-direction: column;

        margin-top: 99px;
    }

    #sobre-mim img {
        width: 300px;
    }

    h1 {
        display: none;
    }

    .sobre-1 {
        display: block;
        
        font-size: 40px;

        margin-bottom: 64px;
    }

    .sobre-p {
        font-size: 18px;

        margin-top: 53px;

        text-align: center;
    }

    .sobre-p1, .sobre-p2, .sobre-p3 {
        font-size: 16px;

    }

    .link {
        display: none;
    }

    .links {
        display: none;
    }

    .link-1 {
        display: block;
        display: flex;
    }
}