@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    scroll-behavior: smooth;
}

.wrapper {
    display: none;
}

.grid {
    width: 1440px;
}


header {
    height: 70px;

    display: flex;
    align-items: center;
    
    position: fixed;
    width: 100%;

    z-index: 10;

    transition: 0.7s;
}


.fundo2 {
    background-color:#F7B993;
    height: 60px;
}


.alinhamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapperP {
    display: none;
}

body {
    height: 9435px;
    background: linear-gradient(180deg, #000303 55.7%, #946643 117.14%);
}


ul {
    display: flex;
    justify-content: space-between;
    
    width: 421px;

    list-style: none;

    margin-left: 969px;
}


nav {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu {
    transition: 0.3s;

    position: relative;
}

.nav-menu:hover {
    color: #F7B993;
}


.nav-menu:after {
    content: "";
    position: absolute;
    background-color: #F7B993;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}


.nav-menu:hover:after {
    width: 100%;
}


.nav-menu-2:hover {
    color: black;
}

.nav-menu-2:after {
    background-color: #000303;
}

a {
    font-family: 'Montserrat', sans-serif;

    color: #f5f5f5;

    text-decoration: none;
}


#banner {
    height: 1000px;

    background-color: #000303;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(assets/img/Vector.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-attachment: fixed;
}


.p1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 40px;

    color: #946643;

    margin-bottom: 29px;
}


.p2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 86px;

    color: #F7B993;

    margin-bottom: 29px;
}


.p3 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: #F5F5F5;
}


.p4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: #C18C54;
}


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto-1, .fundo-2, .menu {
    display: none;
}


#sobre-mim {
    margin-top: 155px;
    display: flex;
    justify-content: space-between;
    
    padding-top: 170px;
}


.escondido {
    opacity: 0;

    transition: all 1.7s;

    filter: blur(5px);

    transform: translateX(-100%);
}


.mostrar {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.titulo-card-1-mobile {
    display: none;
}


@media (prefers-reduced-motion) {
    #sobre-mim {
        transition: none;
    }
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 96px;

    color: #f5f5f5;

    text-align: center;
}


.mim {
    color: #F7B993;
}


.sobre-p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 23px;

    color: #F7B993;

    margin-top: 44px;
}


.sobre-p1, .sobre-p2, .sobre-p3 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: #f5f5f5;
}


.sobre-p1 {
    margin-top: 54px;
}


.sobre-p2, .sobre-p3 {
    margin-top: 22px;
}


.link {
    width: 140px;
    display: flex;
}


.links {
    margin-top: 40px;
}


.botao {
    display: flex;
    justify-content: center;

    margin-top: 41px;
}


.curriculum {
    width: 219px;
    height: 48px;

    outline: 0;
    border: none;

    background: linear-gradient(90deg, #F7B993 0%, #DFA57F 26.56%, #C7916C 52.6%, #B17E5B 77.08%, #946643 100%);
    border-radius: 70px;   

    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 16px;

    color: #f5f5f5;

    cursor: pointer;

    transition: all .5s;
}


.curriculum:hover {
    transform: scale(1.05);
    background: linear-gradient(270deg, #F7B993 0%, #DFA57F 26.56%, #C7916C 52.6%, #B17E5B 77.08%, #946643 100%);
}


.habilidades, .qualificacoes, .como-funciona {
    margin-top: 133px;
    margin-bottom: 73px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;

    color: #f5f5f5;

    text-align: center;
}


.sobre-1 {
    display: none;
}


.texto {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


.box {
    transform: translate(-900px, 380px);
}


.box span {
    display: block;

    width: 20px;
    height: 20px;
    
    border-bottom: 2px solid #F5F5F5;
    border-right: 2px solid #F5F5F5;
    
    margin: -10px;

    transform: rotate(45deg);
    animation: animate 2.5s infinite ;
}


.box span:nth-child(2) {
    animation-delay: -.2s;
}


.box span:nth-child(3) {
    animation-delay: -.4s;
}


  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


.escondido1 {
    opacity: 0;

    transition: all 1s;

    filter: blur(12px);
}


.mostrar1 {
    opacity: 1;

    filter: blur(0px);
}


.alinhar {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }


  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }




.habilidade1 {
    display: flex;
    flex-direction: column;

    align-items: center;
}


.circulo, .circulo1, .circulo2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #F7B993;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo::before, .circulo1::before, .circulo2::before {
    content: "";
    position: absolute;
    height: 92%;
    width: 92%;
    background: #000303;
    border-radius: 50%;
}

.porcentagem, .porcentagem1, .porcentagem2 {
    position: relative;

    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.p-css {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;

    color: #f5f5f5;

    margin-bottom: 21px;
}


.sobre-descricao-alinhar {
    display: flex;
    width: 718px;
}


.alinhar {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.alinhar-2 {
    display: flex;
    padding-top: 73px;
    width: 1050px;
}


.skill-box .title{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;

    color: #f5f5f5;

    margin: 0 0 13px;
}


.skill-box .skill-bar{
    height: 5px;
    width: 435px;
    border-radius: 50px;
    margin-top: 6px;
    background: #946643;
}


.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 50px;
    background:  #F7B993;
    animation: progress 0.9s ease-in-out forwards;
    opacity: 0;
    margin: 0;
}


.skill-per.css{
    width: 90%;
    animation-delay: 0.2s;
    margin: 0;
}


.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
    margin: 0;
}


.skill-per.angular{
    width: 90%;
    animation-delay: 0.2s;
    margin: 0;
}


.skill-per.jquery{
    width: 60%;
    animation-delay: 0.2s;
    margin: 0;
}


.skill-per.typescript{
    width: 40%;
    animation-delay: 0.2s;
    margin: 0;
}


.line2, .line5 {
    margin-top: 36px;
    margin-bottom: 36px;
}


@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000303;
    padding: 2px 6px;
    border-radius: 3px;
    background: #F7B993;
    z-index: 1;
}


.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #F7B993;
    transform: translateX(-50%) rotate(45deg);
}


.programas {
    margin-top: 136px;
    display: flex;
    width: 600px;
}


.programa {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.t-programa {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F5F5F5;

    margin-top: 13px;
}


@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }


  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }


.q-t1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F7B993;

    margin-bottom: 20px;
}


.q-t2 {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C7916C;
}


.q-data {
    color: #F5F5F5;
}


.q-texto {
    height: 63px;
   
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    
}


.pin {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 50%;

}


.q-1 {
    display: flex;
    flex-direction: column;
}

.q-2 {
    padding-top: 50px;
}

.escondido2 {
    opacity: 0;

    transition: all 1s;

    filter: blur(12px);
}


.mostrar2 {
    opacity: 1;

    filter: blur(0px);
}


.servicos-alinhamento {
    width: 931px;
}


#servicos {
    padding-top: 120px;
    margin-top: 100px;
}


.s-title {
    margin: 0;
}


.servico-caixa {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-sizing: border-box;

    width: 223px;
    height: 223px;

    box-sizing: border-box;
    width: 223px;
    height: 223px;
    left: 490px;
    top: 3976px;
    
    filter: drop-shadow(0px 12px 34px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(6px);

    transition: all 0.5s;
    
    border: 2px solid #F5F5F5;
}


.servico-t {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F5F5F5;
    margin: 21px 0px 0px;
    transition: all 0.5s;
}


.servico-caixa:hover{
    transform: rotate(45deg);
    border-color: #F7B993;
}


.serviços-linha1, .serviços-linha2 {
    display: flex;
}


.serviços-linha1 {
    margin-bottom: 78px;
}


.escondido3 {
    opacity: 0;

    transition: all 1.7s;

    filter: blur(5px);

    transform: translateY(25%);
}


.mostrar3 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


.serviços-background, .port-h1, .contato-h1 {
    height: 490px;
    background-color: #C18C54;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;
    
}

.funciona {
    margin-bottom: 282px;
}

#projetos {
    padding-top: 120px;
}

.port-sub {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;

    text-align: center;

    margin-bottom: 147px;
}


.escondido4 {
    opacity: 0;

    transition: all 1s;

    filter: blur(12px);
}


.mostrar4 {
    opacity: 1;

    filter: blur(0px);
}


.linha-1, .linha-2, .linha-3 {
    display: flex;
}

#projeto-1, #projeto-3, #projeto-4, #projeto-5, #projeto-6, #projeto-8 {
    height: 468px;
    width: 467px;
    background-color: #000303;
}


#projeto-4, #projeto-6 {
    transform: translateY(-90px);
}

#projeto-2, #projeto-7, #projeto-9 {
    width: 467px;
    height: 557px;
    background-color: #000303;

    margin-bottom: 13px;
}

#projeto-7, #projeto-9 {
    transform: translateY(-76px);
}

#projeto-8 {
    transform: translateY(13px);
}

.linkParaOProjeto  {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #000303;
    margin-top: 27px;
    transition: 0.3s;
    transform: translateX(-160px);
    outline: none;
    border: none;
    cursor: pointer;
}

.nomeDoProjeto {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    margin-left: 27px;
    transform: translateY(500px);
}

#projeto-1, #projeto-2, #projeto-3,  #projeto-4, #projeto-5, #projeto-6, #projeto-7, #projeto-8, #projeto-9 {
    overflow: hidden;
    transition: .5s;
}

.projeto-1-img img, .projeto-2-img img, .projeto-3-img img, .projeto-4-img img, .projeto-5-img img, .projeto-6-img img, .projeto-7-img img, .projeto-8-img img, .projeto-9-img img {
    position: absolute;
}

.projeto-1-img, .projeto-2-img, .projeto-3-img, .projeto-4-img, .projeto-5-img, .projeto-6-img, .projeto-7-img, .projeto-8-img, .projeto-9-img {
    transition: .5s;
}

.projeto-1-img:hover, .projeto-2-img:hover,  .projeto-3-img:hover, .projeto-4-img:hover, .projeto-5-img:hover, .projeto-6-img:hover, .projeto-7-img:hover, .projeto-8-img:hover, .projeto-9-img:hover {
    opacity: 50%;
}

.projeto-descricao {
    overflow: hidden;
    height: 100%;
}

#projeto-1:hover .linkParaOProjeto, #projeto-2:hover .linkParaOProjeto , #projeto-3:hover .linkParaOProjeto, #projeto-4:hover .linkParaOProjeto, #projeto-5:hover .linkParaOProjeto, #projeto-6:hover .linkParaOProjeto, #projeto-7:hover .linkParaOProjeto, #projeto-8:hover .linkParaOProjeto, #projeto-9:hover .linkParaOProjeto {
    transform: translateX(27px);
    transition-delay: 0.1s;
}

#projeto-1:hover .nomeDoProjeto, #projeto-3:hover .nomeDoProjeto, #projeto-4:hover .nomeDoProjeto, #projeto-5:hover .nomeDoProjeto, #projeto-6:hover .nomeDoProjeto, #projeto-8:hover .nomeDoProjeto {
    transform: translateY(348px);
    transition-delay: 0.1s;
}

#projeto-2:hover .nomeDoProjeto, #projeto-7:hover .nomeDoProjeto, #projeto-9:hover .nomeDoProjeto {
    transform: translateY(435px);
    transition-delay: 0.1s;
}

#contato {
    padding-top: 120px;
}

.cont-sub {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;

    text-align: center;
    margin-bottom: 147px;
}

.cont-sub-2 {
    color: #F7B993;
}

.contato-card {
    display: flex;
    margin-bottom: 281px;
}

.card-1 {
    width: 852px;
    height: 787px;
    background-color: #000000;

    display: flex;
  
    justify-content: center;

    flex-direction: column;
}

.card-1-infos {
    width: 748px;
    height: 697px;
}

.titulo-card-1, .titulo-card-2 {
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 500;

    text-transform: uppercase;
}

.card-2 {
    width: 588px;
    height: 787px;
    background-color: #000000;
}

.form-title {
    font-family: 'Prompt', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

form {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 612px;
    justify-content: space-between;
}

.linha-input {
    width: 748px;
    height: 1px;
    background-color: #F7B993;
    margin-top: 15px
}

#nome, #email {
    width: 685px;
}

#assunto {
    width: 670px;
}

#formulario input {
    font-family: 'Prompt', sans-serif;
    background-color: #000000 ;
    outline: none;
    border: none;

    color: #FFFFFF;
}

#formulario textarea {
    font-family: 'Prompt', sans-serif;
    background-color: #000000 ;
    outline: none;
    border: none;

    color: #FFFFFF;
}

#formulario #enviar {
    width: 303px;
    height: 48px;
    background-color: wheat;
    cursor: pointer;

    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 500;

    background: linear-gradient(270deg, #F7B993 0%, #DFA57F 26.56%, #C7916C 52.6%, #B17E5B 77.08%, #946643 100%);
    border-radius: 70px;
    
    transition: all .5s;
}

#enviar:hover {
    transform: scale(1.05);
}

.card-2-infos {
    margin-top: 42px;
}

.card-2-subtitle {
    margin-left: 49px;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #F7B993;
    margin-bottom: 17px;
}

.card-2-descricao {
    margin-left: 49px;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.titulo-card-2 {
    margin-bottom: 82px;
    margin-left: 49px;
}

.links-contato {
    width: 166px;
    display: flex;
    justify-content: space-between;    
    transform: translateY(350px);
}

footer {
    height: 74px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-descricao {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.links-contato-2 {
    display: none;
}

@media (max-width: 600px) {
    .grid, .alinhar {
        width: 320px;
    }

    header {
        position: inherit;
    }

    body {
        height: 6430px;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }

    nav .logo-img {
     
    }

    nav .menu {
        padding-left: 110px;
    }

    ul, .nav-menu, .foto-2 {
        display: none;
    }


    .foto-1, .fundo-2, .menu {
        display: block;
    }


    #banner {
        height: 685px;
        flex-direction: column;
        background-size: 100%;
   
    }


    .p1 {
        font-size: 29px;
    }


    .p2 {
        font-size: 39px;
    }


    .p3, .p4 {
        font-size: 15px;
    }


    #sobre-mim {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
    }


    #sobre-mim img {
        width: 300px;
    }


    h1 {
        display: none;
    }


    .sobre-1 {
        display: block;
        
        font-size: 40px;

        margin-bottom: 64px;
    }


    .sobre-p {
        font-size: 18px;

        margin-top: 53px;

        text-align: center;
    }


    .sobre-p1, .sobre-p2, .sobre-p3 {
        font-size: 16px;

    }


    .link {
        display: none;
    }


    .links {
        display: none;
    }


    .link-1 {
        display: block;
        display: flex;
    }

    .habilidade1 {
        display: none;
    }

    .habilidades, .qualificacoes {
        font-size: 40px;
    }

    .alinhar-2 {
        display: flex;
        flex-direction: column;
        width: 320px;
    }
    
    .coluna-2 {
        padding-top: 35px;
    }
    
    .skill-box .title{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 16px;
    
        color: #f5f5f5;
    
        margin: 0 0 13px;
    }
    
    
    .skill-box .skill-bar{
        height: 5px;
        width: 300.59px;
        border-radius: 50px;
        margin-top: 6px;
        background: #946643;
    }
    
    .skill-bar .skill-per{
        position: relative;
        display: block;
        height: 100%;
        width: 95%;
        border-radius: 50px;
        background:  #F7B993;
        animation: progress 0.9s ease-in-out forwards;
        opacity: 0;
        margin: 0;
    }

    .programas {
        margin-top: 136px;
        display: flex;
        width: 320px;
    }

    .programa img {
        width: 40px;
    }

    .t-programa {
        font-size: 14px;
    }

    .qualificações{
        width: 320px;
    }

    .q-t1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #F7B993;
    
        margin-bottom: 20px;

        text-align: center;
    }
    
    .q-t2 {
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #C7916C;
    }
    
    .q-data {
        color: #F5F5F5;
    }
    
    .q-texto {
        height: 63px;
       
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .pin {
      display: none;
    }
    
    .q-1 {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .serviços-background, .port-h1, .contato-h1 {
        height: 290px;
        background-color: #C18C54;
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin-bottom: 100px;
        
    }
    
    
    #servicos {
        padding-top: 120px;
        margin-top: 100px;
    }
    
    
    .s-title {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 40px;
        
        color: #f5f5f5;
        display: inline-block;
    }
    
    .serviços-linha1, .serviços-linha2 {
        display: none;
    }
    

    .wrapper{
        display: flex;
        max-width: 320px;
        position: relative;
      }

      .wrapper i{
        top: 50%;
        cursor: pointer;
        position: absolute;
        text-align: center;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
      }

      .wrapper i:active{
        transform: translateY(-50%) scale(0.9);
      }

      .wrapper i:first-child{
        left: 0px;
        display: none;
      }

      .wrapper i:last-child{
        right: 0px;
      }

      .wrapper .carousel{
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
      }

      .carousel.dragging{
        cursor: grab;
        scroll-behavior: auto;
      }

      .carousel.dragging img{
        pointer-events: none;
      }

      .carousel .img-1{
        user-select: none;
        margin-left: 30px;
      }

      .carousel .img-2, .carousel .img-3, .carousel .img-4 {
        user-select: none;
        margin-left: 10px;
      }

      .carousel .img-5 {
        user-select: none;
        margin-left: 11px;
      }

      .carousel .img-6 {
        user-select: none;
        margin-right: 30px;
      }

      .carousel img:first-child{
        margin-right: 0px;
      }

      .port-sub {
        font-size: 16px;
        margin-bottom: 100px;
      }

      .linha-1, .linha-2, .linha-3 {
        display: none;
      }

      .wrapperP{
        display: inline-flex;
        max-width: 320px;
        position: relative;
      }

      .wrapperP i{
        top: 50%;
        cursor: pointer;
        position: absolute;
        text-align: center;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
      }

      .wrapperP i:active{
        transform: translateY(-50%) scale(0.9);
      }

      .wrapperP i:first-child{
        left: 0px;
        display: none;
      }

      .wrapperP i:last-child{
        right: 0px;
      }

      .wrapperP .carouselP{
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
      }

      .carouselP.draggingP{
        cursor: grab;
        scroll-behavior: auto;
      }

      .carouselP.draggingP img{
        pointer-events: none;
      }

      .carouselP .img-1P{
        user-select: none;
        margin-left: 63px;
        padding-right: 50px;
      }

      .carouselP .img-2P, .carouselP .img-3P, .carouselP .img-4P, .carouselP .img-5P, .carouselP .img-6P,.carouselP .img-7P {
        user-select: none;
        padding-left: 10px;
        padding-right: 50px;
      }

      .carouselP .img-8P {
        user-select: none;
        padding-left: 11px;
        padding-right: 60px;
      }

      .carouselP .img-9P {
        user-select: none;
      }

      .carouselP img:first-child{
        margin-right: 0px;
      }


      .cont-sub, .cont-sub-2 {
        font-size: 16px;
        margin-bottom: 100px;
      }


        .contato-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 145px;
        transform: translateY(-40px);
    }
    
    .card-1 {
        width: 300px;
        height: 447px;
        background-color: #000000;
    
        display: flex;
      
        margin-top: 0px;
    
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .card-1-infos {
        width: 263.69px;
        height: 347px;
    }
    
    .titulo-card-1, .titulo-card-2 {
        color: #f5f5f5;
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        font-weight: 500;
    
        text-align: center;
        text-transform: uppercase;
    }
    
    .titulo-card-1 {
        margin-top: 40px;
    }

    .card-2 {
        width: 300px;
        height: 360px;
        background-color: #000000;
      
    }
    
    .form-title {
        font-family: 'Prompt', sans-serif;
        color: #f5f5f5;
        font-size: 12px;
    }
    
    form {
        margin-top: 66px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 296.78px;
        justify-content: space-between;
    }
    
    .linha-input {
        width: 263.38px;
        height: 1px;
        background-color: #F7B993;
        margin-top: 1.5px;
        margin-bottom: 20px;
    }
    
    #nome, #email {
        width: 100px;
    }
    
    #assunto {
        width: 100px;
    }
    
    #formulario input {
        font-family: 'Prompt', sans-serif;
        background-color: #000000 ;
        outline: none;
        border: none;
    
        color: #f5f5f5;
    }
    
    #formulario textarea {
        font-family: 'Prompt', sans-serif;
        background-color: #000000 ;
        outline: none;
        border: none;
    
        color: #f5f5f5;
    }
    
    #formulario #enviar {
        width: 123px;
        height: 28.78px;
        background-color: wheat;
        cursor: pointer;
    
        color: #f5f5f5;
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        font-weight: 500;
    
        background: linear-gradient(270deg, #F7B993 0%, #DFA57F 26.56%, #C7916C 52.6%, #B17E5B 77.08%, #946643 100%);
        border-radius: 70px;
        
        transition: all .5s;
    }
    
    #enviar:hover {
        transform: scale(1.05);
    }
    
    .card-2-infos {
        margin-top: 42px;
    }
    
    .card-2-subtitle {
        margin-left: 49px;
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #F7B993;
        margin-bottom: 17px;
    }
    
    .card-2-descricao {
        margin-left: 49px;
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #f5f5f5;
        margin-bottom: 43px;
    }
    
    .titulo-card-2 {
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .links-contato {
        display: none;
    }
    .links-contato-2 {
        width: 166px;
        display: flex;
        justify-content: space-between;    
        transform: translateY(15px);
    }
    
    footer {
        height: 72px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-descricao {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #f5f5f5;
        text-align: center;
    }

    .p1, .p2, .p3, .p4 {
        color: #F7B993
    }

    .mim {
        color: #f5f5f5;
    }

    .foto-sobre {
        display: none;
    }

    .cont-sub-2 {
        display: none;
    }

    .titulo-card-1-mobile {
        color: #f5f5f5;
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        font-weight: 500;
        display:flex;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 40px;
    }
    
    .titulo-card-1 {
        display: none;
    }

    
}

